// LAYOUT

.container-outer{
  background-color: blue;
}



.container-inner{
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
}

@media screen and (min-width: 1200px){

  .container-outer-login{
    background-color: $brownDark;
  }

  .login{
    display: flex;
    justify-content: space-between;
  }

  .login__button{
    display: none;
  }
}