// CALL TO ACTIONS BUTTONS

.button{
  font-family: $Roboto;
  font-size: 1.7em;
  font-weight: $Bold;

  color: $white;
  background-color: $brownMedium;
  text-decoration: none;

  padding: .3em 1.3em;
}