// HERO

.logo__heading{
  padding: 22px;
}

.logo__img{
  width: 100%;
}

@media screen and (min-width: 768px){

  .logo__heading{
    text-align: center;
    padding-top: 10px;
  }

  .logo__img{
    width: 37%;
  }

}