// INFOS

.infos{
  margin-top: 58px;
}

.infos__item{
  margin-bottom: 24px;
}

.infos__img{
  height: 272px;
  width: 100%;
}

.infos__heading{
  padding: 18px 0;

  font-family: $Roboto;
  font-size: 1.448em;
  font-weight: $Bold;
  text-align: center;
}

@media screen and (min-width: 768px){

  .infos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            
    padding: 0 90px;
  }

}

@media screen and (min-width: 1044px){

  .infos{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
    padding: 0;
  }

  .infos__item{
    width: 31%;
  }

  .infos__img{
    height: 230px;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }

  .infos__link:hover .infos__img{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }

  .infos__heading{
    font-size: 1.2em;
    padding: 10px 0;
  }

}