// INTRO

.intro--section{
  background-color: $white;
  padding: 40px 20px;
}

.intro__wrapper{
  padding: 0 0 45px 0;
}

.intro__content{
  text-align: center;
  overflow: hidden;
}

.intro__content--margin{
  margin-top: 42px;
}

.intro__img{
  height: 262px;
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro__text{
  font-family: $Roboto;
  font-size: 1.336em;
  font-weight: $Bold;

  padding: 22px 0 6px 0;
}

@media screen and (min-width: 768px){

  .intro__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .intro__content{
    width: 48%;
  }

  .intro__img{
    height: 328px;
  }

  .intro__content--margin{
    margin-top: 0;
  }


}

@media screen and (min-width: 1200px){
  
  .intro{
    padding-top: 67px;
  }

  .intro__wrapper{
    padding: 0 0 20px 0;
  }

  .intro--section{
    padding: 58px 40px 12px;
  }

  .intro__text{
    font-size: 1.688em;
  }
}