// PRESENTATION

.presentation{
  text-align: center;
  padding-bottom: 70px;
}

.presentation__header{
  font-family: $Roboto;
  font-size: 3.5em;
  font-weight: $Bold;
}

.presentation__heading{
  padding-top: 30px;
}

.presentation__heading__strong{
  color: $brownMedium;
  font-size: 1.2em;
}

.presentation__text{
  font-family: $OpenSans;
  font-size: 1.1em;
  font-weight: $Regular;
  line-height: 1.2;

  margin-top: 50px;
}

.presentation__text__second{
  margin-top: 20px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px){
  .presentation{
    display: flex;
    padding-bottom: 35px;
  }

  .presentation__header{
    font-size: 4em;
  }

  .presentation__heading{
    padding-top: 40px;

    width: 600px;
  }

  .presentation__text{
    margin-top: 18px;

    font-size: 1em;
    text-align: left;
  }

  .presentation__text__second{
    margin-bottom: 25px;
  }
}