/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 

  FONTS
  including font-familes & font-weights 
  
*/
.js-hidden {
  visibility: hidden;
  height: 0; }

.separator {
  margin: 0 auto 0 auto;
  width: 93%;
  color: #f3f3f3; }

.container-outer {
  background-color: #c7b299; }

.container-inner {
  max-width: 1200px;
  margin: 0 auto; }

@media screen and (min-width: 1200px) {
  .container-outer-login {
    background-color: #553019; } }
.button {
  font-family: "Roboto Slab", serif;
  font-size: 1.7em;
  font-weight: 700;
  color: #ffffff;
  background-color: #aa7b51;
  text-decoration: none;
  padding: .3em 1.3em; }

@media screen and (min-width: 1200px) {
  .button {
    font-size: 1.2em;
    transition: all .3s ease-in-out; }

  .button:hover {
    color: #aa7b51;
    background-color: #ffffff;
    border: 1px solid #aa7b51;
    transition: background-color .3s ease-in-out; } }
.login {
  color: #ffffff;
  font-family: "Roboto Slab", serif; }

.login__links {
  display: flex;
  justify-content: space-between;
  line-height: 3.5;
  width: 224px;
  margin: 0 auto; }

.login__link {
  color: currentColor;
  font-weight: 400;
  text-decoration: none; }

.login__links__cart {
  position: relative;
  display: inherit;
  justify-content: center; }

.login__links__cart::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 27px;
  background-image: url("../img/cup.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 14px;
  left: -46px; }

.login__links__icon {
  position: absolute;
  top: 0;
  right: 0px;
  height: 27px; }

.login__ad {
  position: relative;
  padding: 15px;
  background-color: #aa7b51;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.1; }

.login__button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em;
  font-weight: 700; }

.login__account {
  background-color: #553019; }

@media screen and (min-width: 1200px) {
  .login {
    display: flex;
    justify-content: flex-end; }

  .login__ad {
    background-color: #553019;
    padding-left: 68px; }

  .login__account {
    margin-left: 126px;
    padding-right: 58px; }

  .login__links {
    line-height: 2.6;
    width: 219px; }

  .login__link:hover {
    text-decoration: underline; }

  .login__links__cart::before {
    position: absolute;
    top: 10px;
    left: -46px; }

  .login__button {
    display: none; } }
.logo__heading {
  padding: 22px;
  background-color: #ffffff; }

.logo__img {
  width: 100%; }

@media screen and (min-width: 768px) {
  .logo__heading {
    text-align: center;
    padding-top: 10px; }

  .logo__img {
    width: 37%; } }
.menu {
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-weight: 400; }

.menu__responsive__tile {
  position: relative;
  padding: 0.9em 0;
  background-color: #c7b299;
  font-size: 1.5em;
  text-align: center; }

.menu__icon {
  position: absolute;
  top: 15px;
  right: 20px; }

.menu__wrapper {
  position: relative; }

.menu__links {
  background-color: #aa7b51;
  font-size: 1.5em;
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; }

.menu__link {
  color: currentColor;
  padding: 10px 0;
  line-height: 2;
  text-decoration: none; }

@media screen and (min-width: 1200px) {
  .menu__responsive__tile {
    display: none; }

  .menu__links {
    top: 0;
    height: auto;
    visibility: visible;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 300px; }

  .menu__link {
    line-height: 0; }

  .menu__link:hover {
    text-decoration: underline; } }
.intro--section {
  background-color: #ffffff;
  padding: 40px 20px; }

.intro__wrapper {
  padding: 0 0 45px 0; }

.intro__content {
  text-align: center;
  overflow: hidden; }

.intro__content--margin {
  margin-top: 42px; }

.intro__img {
  height: 262px;
  width: 100%;
  transform: scale(1.1); }

.intro__text {
  font-family: "Roboto Slab", serif;
  font-size: 1.374em;
  font-weight: 700;
  padding: 22px 0 6px 0; }

@media screen and (min-width: 768px) {
  .intro__wrapper {
    display: flex;
    justify-content: space-between; }

  .intro__content {
    width: 48%; }

  .intro__img {
    height: 328px; }

  .intro__content--margin {
    margin-top: 0; } }
@media screen and (min-width: 1200px) {
  .intro {
    padding-top: 67px; }

  .intro__wrapper {
    padding: 0 40px 20px 0; }

  .intro--section {
    padding: 58px 20px 12px 20px; }

  .intro__text {
    font-size: 1.8em; } }
.presentation {
  text-align: center;
  padding-bottom: 70px; }

.presentation__header {
  font-family: "Roboto Slab", serif;
  font-size: 3.5em;
  font-weight: 700; }

.presentation__heading {
  padding-top: 30px; }

.presentation__heading__strong {
  color: #aa7b51;
  font-size: 1.2em; }

.presentation__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 50px; }

.presentation__text__second {
  margin-top: 20px;
  margin-bottom: 50px; }

@media screen and (min-width: 1200px) {
  .presentation {
    display: flex;
    padding-bottom: 35px; }

  .presentation__header {
    font-size: 4em; }

  .presentation__heading {
    padding-top: 40px;
    width: 600px; }

  .presentation__text {
    margin-top: 18px;
    font-size: 1em;
    text-align: left; }

  .presentation__text__second {
    margin-bottom: 25px; } }
.infos {
  margin-top: 58px; }

.infos__item {
  margin-bottom: 24px; }

.infos__img {
  height: 272px;
  width: 100%; }

.infos__heading {
  padding: 18px 0;
  font-family: "Roboto Slab", serif;
  font-size: 1.448em;
  font-weight: 700;
  text-align: center; }

@media screen and (min-width: 768px) {
  .infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 90px; } }
@media screen and (min-width: 1044px) {
  .infos {
    justify-content: space-between;
    margin-top: 24px;
    padding: 0; }

  .infos__item {
    width: 31%; }

  .infos__img {
    height: 230px;
    transition: transform .2s ease; }

  .infos__link:hover .infos__img {
    transform: scale(1.1);
    transition: transform .2s ease; }

  .infos__heading {
    font-size: 1.2em;
    padding: 10px 0; } }
.secondaryMenu {
  color: #ffffff;
  background-color: #aa7b51;
  line-height: 2;
  text-align: center;
  padding: 2em 0; }

.secondaryMenu__link {
  color: currentColor;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 1.5em;
  text-decoration: none; }

.secondaryMenu__link--copyright {
  font-size: 1em; }

@media screen and (min-width: 1200px) {
  .secondaryMenu__wrapper {
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin: 0 auto; }

  .secondaryMenu__wrapper--copyright {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto;
    padding-top: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 400; }

  .secondaryMenu__link:hover {
    text-decoration: underline; } }

/*# sourceMappingURL=main.css.map */
