/* 

  FONTS
  including font-familes & font-weights 
  
*/


// FONT-FAMILIES

$Roboto: 'Roboto Slab', serif;
$OpenSans: 'Open Sans', sans-serif;


// FONT-WEIGHTS

$Regular: 400;
$Bold: 700;